<section id="search">
  <label for="userSearch">Filtres: </label>
  <br />
  <input type="text" id="userSearch" placeholder="Nom | Description">
  <br />
  <label for="categorie">Catégorie: </label>
  <select name="categorie" id="categorie">
    <option value="">Toutes</option>
  </select>
</section>
<table id="filters" style="display: none">
  <tr>
    <td>
      <label>
        <input type="radio" name="filter"  value="buy" checked />
        Achats
      </label>
      <br />
      <input type="checkbox" id="saleIsOpen"><label for="saleIsOpen">Enchères ouvertes</label>
      <br />
      <input type="checkbox" id="isCurrentUser"><label for="isCurrentUser">Mes enchères en cours</label>
      <br />
      <input type="checkbox" id="saleIsWon"><label for="saleIsWon">Mes enchères remportées</label>
      <br />
    </td>
    <td>
      <label>
        <input type="radio" name="filter"  value="sell" />
        Ventes
      </label>
      <br />
      <input type="checkbox" id="saleIsOnGoing"><label for="saleIsOnGoing">Mes ventes en cours</label>
      <br />
      <input type="checkbox" id="saleIsCreated"><label for="saleIsCreated">Ventes non débutées</label>
      <br />
      <input type="checkbox" id="saleIsOver"><label for="saleIsOver">Ventes terminées</label>
      <br />
    </td>
  </tr>
</table>
<div id="articles"></div>