<h3 class="d-none d-sm-block text-center">Détails vente</h3>

<section id="profile" class="text-center">
  <h4><span id="nomArticle"></span></h4>
  <h4>Description: <span id="description"></span></h4>
  <h4>Catégorie: <span id="categorie"></span></h4>
  <h4>Meilleur offre: <span id="highestBid"></span></h4>
  <h4>Mise à prix: <span id="miseAPrix"></span> point(s)</h4>
  <h4>Fin de l'enchère: <span id="dateFinEncheres"></span></h4>
  <h4>Retrait: <span id="rue"></span> <span id="codePostal"> </span><span id="ville"></span></h4>
  <h4>Vendeur: <span id="vendeur"></span></h4>
  <div id="proposition" class="d-none">
    <label for="montantEnchere">Ma proposition: </label><input type="number" id="montantEnchere">
    <button id="encherir" value="Encherir">Enchèrir</button>
  </div>
</section>