<h3 class="d-none d-sm-block text-center">Profil utilisateur</h3>

<section id="profile" class="text-center">
  <h4>Pseudo: <span id="pseudo"></span></h4>
  <h4>Nom: <span id="nom"></span></h4>
  <h4>Prénom: <span id="prenom"></span></h4>
  <h4>Email: <span id="email"></span></h4>
  <h4>Téléphone: <span id="telephone"></span></h4>
  <h4>Rue: <span id="rue"></span></h4>
  <h4>Code Postal: <span id="codePostal"></span></h4>
  <h4>Ville: <span id="ville"></span></h4>
</section>
<footer class="text-center mx-auto">
  <button id="edit" class="d-none btn-warning"><i class="fas fa-user-edit"></i></button>
</footer>